git+https://github.com/grap/odoo-addons-logistics@12.0#subdirectory=setup/joint_buying_base
git+https://github.com/grap/odoo-addons-logistics@12.0#subdirectory=setup/joint_buying_product

git+https://github.com/grap/odoo-addons-intercompany-trade@12.0#subdirectory=setup/intercompany_trade_base
git+https://github.com/grap/odoo-addons-intercompany-trade@12.0#subdirectory=setup/intercompany_trade_product
git+https://github.com/grap/odoo-addons-intercompany-trade@12.0#subdirectory=setup/intercompany_trade_purchase

git+https://github.com/grap/odoo-addons-cae@12.0#subdirectory=setup/fiscal_company_base
git+https://github.com/grap/odoo-addons-cae@12.0#subdirectory=setup/fiscal_company_product
